body{
    background-color: aqua;
    background-image: url(https://img.freepik.com/premium-photo/pink-bokeh-glitter-sweet-background-graphic-design-illustration_1048944-27259135.jpg?t=st=1715718147~exp=1715718747~hmac=91e2a5fff99234411449a8b637d09ac6006d09a7bc7e859f6181c25454e2fe7c);
background-repeat: no-repeat;
background-size: cover;
 }
